name: dotnet-ci

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    - name: Restore dependencies
      run: dotnet restore ./src/GeneralUpdate.Tool.Avalonia.sln
    - name: build
      run: dotnet build ./src/GeneralUpdate.Tool.Avalonia.sln -c Release